



ALTER TABLE products ADD stock_quantity INT DEFAULT 0;


CREATE PROCEDURE add_inventory_item
    @categoryName NVARCHAR(100),
    @productName NVARCHAR(100),
    @stockQuantity INT,
    @price DECIMAL(10, 2)
AS
BEGIN
    DECLARE @categoryId INT, @productId INT, @inventoryId INT;

    -- Check or insert category
    SELECT @categoryId = category_id FROM categories WHERE category_name = @categoryName;
    IF @categoryId IS NULL
    BEGIN
        INSERT INTO categories (category_name) VALUES (@categoryName);
        SET @categoryId = SCOPE_IDENTITY();
    END

    -- Check or insert product
    SELECT @productId = product_id FROM products WHERE name = @productName AND category_id = @categoryId;
    IF @productId IS NULL
    BEGIN
        INSERT INTO products (name, category_id, price, available, stock_quantity)
        VALUES (@productName, @categoryId, @price, 1, @stockQuantity);
        SET @productId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Update price and stock quantity
        UPDATE products
        SET price = @price,
            stock_quantity = stock_quantity + @stockQuantity
        WHERE product_id = @productId;
    END

    -- Update or insert inventory record
    SELECT @inventoryId = inventory_id FROM inventory WHERE product_id = @productId;
    IF @inventoryId IS NULL
    BEGIN
        INSERT INTO inventory (product_id, quantity_changed)
        VALUES (@productId, @stockQuantity);
    END
    ELSE
    BEGIN
        UPDATE inventory
        SET quantity_changed = quantity_changed + @stockQuantity
        WHERE inventory_id = @inventoryId;
    END
END;

go; 




CREATE PROCEDURE add_product
    @categoryName NVARCHAR(100),
    @productName NVARCHAR(100),
    @price DECIMAL(10, 2),
    @stockQuantity INT,
	@urlImage varchar(500)
AS
BEGIN
    DECLARE @categoryId INT, @productId INT, @inventoryId INT;

    -- Check if category exists
    SELECT @categoryId = category_id FROM categories WHERE category_name = @categoryName;
    IF @categoryId IS NULL
    BEGIN
        INSERT INTO categories (category_name) VALUES (@categoryName);
        SET @categoryId = SCOPE_IDENTITY();
    END

    -- Check if product exists
    SELECT @productId = product_id FROM products 
    WHERE name = @productName AND category_id = @categoryId;

    IF @productId IS NULL
    BEGIN
        INSERT INTO products (name, category_id, price, available, stock_quantity, image_url)
        VALUES (@productName, @categoryId, @price, 1, @stockQuantity, @urlImage);
        SET @productId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Optional: You may update the stock_quantity of the existing product if needed
        UPDATE products 
        SET stock_quantity = stock_quantity + @stockQuantity
        WHERE product_id = @productId;
    END

    -- Now handle inventory
    SELECT @inventoryId = inventory_id FROM inventory WHERE product_id = @productId;
    IF @inventoryId IS NULL
    BEGIN
        INSERT INTO inventory (product_id, quantity_changed)
        VALUES (@productId, @stockQuantity);
    END
    ELSE
    BEGIN
        UPDATE inventory
        SET quantity_changed = quantity_changed + @stockQuantity
        WHERE inventory_id = @inventoryId;
    END
END;


CREATE PROCEDURE update_product
    @productId INT,
    @newName NVARCHAR(100),
    @newPrice DECIMAL(10, 2),
    @newStockQuantity INT,
    @available BIT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM products WHERE product_id = @productId)
    BEGIN
        UPDATE products
        SET name = @newName,
            price = @newPrice,
            stock_quantity = @newStockQuantity,
            available = @available
        WHERE product_id = @productId;

		update Inventory
		set quantity_changed = @newStockQuantity
		where product_id = @productId

    END
	
END;


CREATE PROCEDURE delete_product
    @productId INT
AS
BEGIN
    -- First, check if the product exists in the cart
    IF EXISTS (SELECT 1 FROM cart WHERE product_id = @productId)
    BEGIN
        DELETE FROM cart WHERE product_id = @productId;
    END

    -- Then, delete from inventory (if exists)
    IF EXISTS (SELECT 1 FROM inventory WHERE product_id = @productId)
    BEGIN
        DELETE FROM inventory WHERE product_id = @productId;
    END

    -- Finally, delete the product itself
    DELETE FROM products WHERE product_id = @productId;
END;








-- Procedure to add item to cart (merge if exists, check inventory quantity)
CREATE PROCEDURE add_to_cart(
    @c_id INT,      -- Customer ID
    @p_id INT,      -- Product ID
    @qty INT        -- Quantity to add
)
AS
BEGIN
    -- Check if requested quantity is available in inventory
    DECLARE @availableQty INT;

    -- Get the available quantity from inventory
    SELECT @availableQty = quantity_changed
    FROM Inventory
    WHERE product_id = @p_id;

    -- If inventory does not have enough quantity
    IF @availableQty < @qty
    BEGIN
      RAISERROR('Inventory not sufficient for product ID %d', 16, 1, @p_id);
        RETURN;  -- Exit the procedure if stock is insufficient
    END

	--see if updated quantity is more than in cart
	 DECLARE @existing_cart_quantity INT;
    SELECT @existing_cart_quantity = c.quantity
    FROM Cart c
    WHERE c.customer_id = @c_id AND c.product_id = @p_id;

	  IF @availableQty < (@existing_cart_quantity + @qty)
    BEGIN
      RAISERROR('Inventory not sufficient for product ID %d', 16, 1, @p_id);
        RETURN;  -- Exit the procedure if stock is insufficient
    END

    -- If the product already exists in the cart, update the quantity
    IF EXISTS (SELECT 1 FROM Cart WHERE customer_id = @c_id AND product_id = @p_id)
    BEGIN
        UPDATE Cart
        SET quantity = quantity + @qty
        WHERE customer_id = @c_id AND product_id = @p_id;
    END
    ELSE
    BEGIN
        -- If the product does not exist in the cart, insert it
        INSERT INTO Cart (customer_id, product_id, quantity)
        VALUES (@c_id, @p_id, @qty);
    END
END;
GO
drop procedure specificCartDetails

create procedure specificCartDetails
(

@customerId int
)
as begin

	select ca.cart_id, ca.customer_id, Products.name as ProductName, ca.quantity, Products.price,
	(ca.quantity * Products.price) as TotalSum

	from cart ca
	join Products
	on ca.product_id = Products.product_id
	where ca.customer_id = @customerId
end;


CREATE PROCEDURE get_product_by_id
    @productId INT
AS
BEGIN
    SELECT * FROM products WHERE product_id = @productId;
END;


create procedure get_order_history
    @customer_id int
as begin
    
	select o.order_id, o.order_date, o.total_price, o.delivery_status, p.name as product_name, oi.quantity, oi.subtotal
    from Orders o
    join Order_Items oi on o.order_id = oi.order_id
    join Products p on oi.product_id = p.product_id
    where o.customer_id = @customer_id
    order by o.order_date desc;
end;

create procedure get_order_details
    @order_id int
as begin

select o.order_id, o.order_date, o.total_price, o.delivery_status,c.customer_id,c.name as customer_name,c.phone_number, c.address
    from Orders o
    join Customers c on o.customer_id = c.customer_id
    where o.order_id = @order_id;
    
	select 
        oi.order_item_id, p.product_id, p.name as product_name, oi.quantity, p.price as unit_price, oi.subtotal
    from Order_Items oi
    join Products p ON oi.product_id = p.product_id
    where oi.order_id = @order_id;
end;
drop procedure get_products_by_category

create PROCEDURE get_products_by_category
    @categoryName VARCHAR(100)
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Categories WHERE category_name = @categoryName)
    BEGIN
        THROW 50000, 'Category not found.', 1;
    END
    SELECT 
        p.product_id,
        p.name,
        p.description,
        p.price,
        p.stock_quantity,
			p.image_url,
        c.category_name
	
    FROM 
        Products p
    INNER JOIN 
        Categories c ON p.category_id = c.category_id
    WHERE 
        c.category_name = @categoryName;
END;



create PROCEDURE get_customer
    @customerId int
as  begin
select * from Customers
where customer_id = @customerId

END;






create procedure cancel_order
    @order_id int
as
begin
    begin try
        begin transaction;

        -- ❗ Check if the order is already cancelled
        if exists (
            select 1 from Orders
            where order_id = @order_id and delivery_status = 'cancelled'
        )
        begin
            rollback transaction;
            raiserror('Order is already cancelled', 16, 1);
            return;
        end

        -- 1. Update order status
        update Orders 
        set delivery_status = 'cancelled'
        where order_id = @order_id;

        -- 2. Restore inventory log
        update i
        set i.quantity_changed = i.quantity_changed + oi.quantity,
            i.change_reason = 'Order cancellation',
            i.change_date = getdate()
        from Inventory i
        join Order_Items oi on i.product_id = oi.product_id
        where oi.order_id = @order_id;

        -- 3. Restore product stock
        update p
        set p.stock_quantity = p.stock_quantity + oi.quantity
        from Products p
        join Order_Items oi on p.product_id = oi.product_id
        where oi.order_id = @order_id;

        -- 4. Return restored item details
        select oi.product_id, p.name as product_name, oi.quantity as restored_quantity
        from Order_Items oi
        join Products p ON oi.product_id = p.product_id
        where oi.order_id = @order_id;

        commit transaction;
    end try
    begin catch
        rollback transaction;
        throw;
    end catch
end;



create procedure inventoryStatus
@product_id int
as begin

select * from Inventory
where inventory.product_id = @product_id
end;


CREATE PROCEDURE get_low_stock_items
    @threshold INT = 10
AS
BEGIN
    SELECT 
        product_id,
        name,
        stock_quantity
    FROM Products
    WHERE stock_quantity < @threshold;
END;

create procedure view_all_orders
as begin
select * from Orders
end;


create procedure view_all_customers
as begin
select * from Customers
end;

create procedure clear_cart
@customerId int
as begin
delete from cart
where customer_id = @customerId
end;

CREATE PROCEDURE search_product_by_name
    @searchName NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM products
    WHERE Products.name LIKE '%' + @searchName + '%';
END;



select * from orders
select * from Order_Items

select * from Inventory
select* from Products

select * from Cart

select * from Customers
select * from Categories
delete from Orders 
delete from Inventory
delete from Customers
delete from Products
delete from Categories
delete from cart
delete from order_items
